@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin transform-center($direction: 'x,y') {
  @if str-index($direction, 'x') {
    left: 50%;
    transform: translateX(-50%);
  }

  @if str-index($direction, 'y') {
    top: 50%;
    transform: translateY(-50%);
  }

  @if str-index($direction, 'x') and str-index($direction, 'y') {
    transform: translate(-50%, -50%);
  }
}
